body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  position: relative;
}

/*  container for the register form */
#registerContainer {
  background-color: #212121;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* error for Add cars form */
.ErrorAdd{
  color: #ff7474;
}

 #addCarBtn {

    padding: 12px 20px;
    background-color: #0B5ED7;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    width: 100%;
    border-radius: 8px;
    text-transform: uppercase;
    outline: none;
    border: none;

  }

/* register form  */
#regiserForm {
  position: absolute;
  background-color: #dfdbdb;
  padding: 16px;
  max-width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  text-align: center;
}

/* inputs in the register form  and login form*/
.registerInput,
.loginInput,
.addInput {
  background-color: #fff;
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;

}

/* focus on register and login form input */
.registerInput:focus,
.loginInput:focus {
  border-color: #DFC51B;
}

/* login and register link in register page */

#loginLink,
#registerLink {

  text-decoration: none;
  /* color: #857c7c; */
  color: #5e5e5e;
}

/*register button and login button  for register and login form   */
#registertBtn,
#loginBtn {

  padding: 12px 20px;
  background-color: #DFC51B;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  width: 100%;
  border-radius: 8px;
  text-transform: uppercase;
  outline: none;
  border: 1px solid #e5e7eb;
}

/*hover of the register button for register form and hover of the login button for login form     */
#registertBtn:hover,
#loginBtn:hover {
  background-color: #ffca00;
}

/* register title for register form and login title for login form */
#registerTitle,
#loginTitle,
#addCarsTitle {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  font-family: Menlo, Monaco, Consolas;
  color: #5e5e5e;
}

/* add car tiltle */
#addCarsTitle {
  color: white;
  font-size: 35px;
}


/* container of login page */
.loginPage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #F1F1F1;

}

/* form and login container in login form */
.formImageContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid #5958582e;
  background: #f9f9f9;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  height: 500px;
  max-width: 800px;
}

/* conatiner for login form */
#loginContainer {

  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* image for cards */
.imageCard {
  object-fit: cover;
  width: 100%;
}

/* container for each card */
.cards {

  max-width: 300px;
  border-radius: 8px;
  border: 1px solid black;
}



/* buttons found in the cards */
.detailsBtn {

  width: 60%;
}

/* welcome for user in navbar */
.welcomeLink {
  list-style: none;
  margin-left: 20px;
}


/* navbar container */
.navContainer {
  position: absolute;
  top: 0px;
  width: 100%;
}

/* navbar background color */
.navbar {
  background-color: #00000021 !important;
}

/* image for home page */
#homeImge {
  height: 600px;
  object-fit: cover;
}

/* buttons on the card home page */
.btnCardContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* image container for car home page */
.imgContainerCard {
  width: 100%;
  height: 250px;

}

/* image of the card */
.cardImg {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* link for title in home page card */
.titleCardDetails {
  text-decoration: none;
  color: black;
}

/* steps container in home page */
.stepsContainer {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 100%;

}

/* step image */
.stepsImage {
  background-image: url('/static/images/LM5OT587.jpg');
  height: 450px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}


/* center the content of the car details */

.CarDetailsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

/* footer  */
footer {
  background: #00000021;
  text-align: center;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: 100%;
  width: 100%;
}

/* container of no result */
.containerNoResult {
  width: 100%;
  background: lightgray;
  display: flex;
  height: 60px;
  justify-content: center;
}

/* text of no result */
.NoResultText {
  line-height: 60px;
}

/* center page of no text found */

.centerPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* reservation table */
.reserveTable td,
.reserveTable th {

  height: 80px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
  padding: 42px 26px 37px 0px;
}

/* remove border from table */
tbody,
td,
tfoot,
th,
thead,
tr {
  border: 0px;
}

/* logout button in navbar */
#logOutBtn {
  cursor: pointer;
}

/* details image in car details page */
.detailImage {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;

}

/* add background for add form */
.addFormBorder {
  background: #6e6e6e7d;
  padding: 30px;
  border-radius: 10px;

}

/* reservation background */
.reserveImage {
  background-image: url('/static/images/reserve.jpg');
  height: 350px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: 50% 75%;
  filter: brightness(50%);
}

/* links in the nav */
.nav-link,
.navbar-brand,
#welcomeUser {
  color: white;
}

/* links hover in the nav */
.nav-link:hover,
.navbar-brand:hover,
#welcomeUser:hover {
  color: white;
}

/* input form error */
.Error {
  color: #c70707;
  display: block;
  text-align: left;
  padding-left: 8px;
  font-size: 14px;
}

/* container of image and title of reservation and add car  page */
.imageTitleContainer {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 350px;

}

/* reservation title in reservation page */
.ReserveTitle {
  color: white;
  position: absolute;
  font-size: 50px;

}

/* navbar darker */
.navBarDark {
  background-color: #0000004d !important;
}

/* background Image for add car image */
.addCarImage {
  background-image: url(/static/images/add1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: 50% 60%;
  filter: brightness(50%);
}

/* container in the add car form  */
#addFormContainer {
  position: absolute;
  top: 0%;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;

}

/* inputs in add car form  */
.addInput {
  background-color: #fff;
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;

}

/* login image form  */
#loginImg {
  object-fit: contain;
  width: 50%;

}

/* text below the sign up form */
#SignUpNote {
  text-align: center;
}


/* brand name in details page */
.brandName {
  font-size: 35px;
  font-weight: 600;
}

/* details page background */
.detailsBC {
  background: #f1f1f1;
}





@media screen and (max-width: 700px) {

  /* login image form  */
  #loginImg {
    width: 40%;
  }

  /* inputs in the login form */
  .loginInput {
    width: 100%;
  }

}

@media screen and (max-width: 640px) {

  /* add input form  */
  .col .addInput {
    width: 100%
  }
}



@media screen and (max-width: 550px) {

  /* image in the login form  */
  #loginImg {
    width: 28%;
  }

  /* inputs in the login form */
  .loginInput {
    width: 100%;
  }

}