<!DOCTYPE html>
<html lang="en">
  
{%include "head.html"%}
{% block title %}<title>Add Car</title>{% endblock title %}

<body>

<div class="position-relative">
    <!-- Start Image Poster -->
    <div class="addCarImage">


    </div>

    <!-- End Image Poster -->

    <!-- Start Add Form -->

    <div id="addFormContainer">
      <div class="addFormBorder">
        <p id="addCarsTitle">Add Car</p>
        <form action="/cars" method="post" enctype="multipart/form-data" id="addCarForm">
          <div class="row">
            <div class="col">
              <input type="text" name="brand" class="addInput form-control" placeholder="Brand" id="brand">
              <span id="brandError" class="ErrorAdd"></span>
            </div>
            <div class="col">
              <input type="text" name="color" class="addInput form-control" placeholder="Color" id="color">
              <span id="colorError" class="ErrorAdd"></span>
            </div>
          </div>

       <div class="row">
            <div class="col">
              <input type="text" name="price" class="addInput form-control" placeholder="Price" id="price">
              <span id="priceError" class="ErrorAdd"></span>

            </div>
            <div class="col">
              <input type="file" name="img" class="addInput form-control" id="image">
              <span id="imageError" class="ErrorAdd"></span>
            </div>
          </div>
          <div class="text-center mt-2">
            <button type="submit" id="addCarBtn" class="w-50">Add</button>
          </div>
        </form>


      </div>
      <!-- End Add Form -->

    </div>

    <!-- Start Nav -->
    <div class="navContainer">
    {% include "nav.html"%}
    </div>
    <!-- End Nav -->


  </div>

  <!-- Start Footer -->

  {% include "footer.html"%}

  <!-- End Footer -->
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/layoutAll.js"></script>
  <script src="/static/js/addCar.js"></script>
</body>

</html>