<!DOCTYPE html>
<html lang="en">
{%include "head.html"%}
{% block title %}<title>Car Details</title>{% endblock title %}

<body class="carDetailsBody">
  <div class="position-relative">

    <!-- Start Nav -->

    <div class="navContainer position-relative">
      {% include "nav.html"%}
    </div>

    <!-- End Nav -->
  </div>

  <!-- Start Image and form -->
  <div class="detailsBC">
    {% if car_details%}
    <div class="container allDetailContainer pt-5">


      <div class="row row-cols-1 CarDetailsContainer">


        {% for car in car_details %}

        <div class="col">
          <img src="../static/images/{{car.image}}" alt="" class="detailImage">
        </div>

        <div class="col DetailsForm">

          <form action="/reserve" method="post" id="reserveForm">
            <input type="hidden" name="userId" id="userId">
            <input type="hidden" name="userName" id="userName">
            <input type="hidden" name="brand" value={{car.brand}}>
            <input type="hidden" name="price" value={{car.price}}>
            <input type="hidden" name="color" value={{car.color}}>


            <p class="brandName">{{car.brand}}</p>
            <hr>
            <div class="ps-2">
              <p class="fw-light fs-5">{{car.price}} LE/Day</p>
              <p class="fw-light fs-5">{{car.color}}</p>
            </div>

            <div>
      
              <div class="row g-3 align-items-center mb-3 ">
                <div class="col-6 form-group">
                <input placeholder="From" type="text" class="form-control" name="dateFrom" id="dateFrom" onfocus="this.type='date'" onblur="this.type='text'">
                <span id="dateFromError" class="Error"></span>

                </div>
                <div class="col-6 form-group">
                 <input placeholder="To" type="text"  class="form-control "name="dateTo" id="dateTo" onfocus="this.type='date'" onblur="this.type='text'">
                 <span id="dateToError" class="Error"></span>

                </div>
             
              </div>



          
            </div>
            <div class="text-center">
              <button type="submit" id="Reserve" class="btn btn-primary w-25">Reserve</button>
            </div>
          </form>

        </div>


      </div>
      {% endfor %}
    </div>
  </div>
  {%else%}
  {{no_id|safe}}
  {% endif %}
  <!-- Start Image and form -->

  <!-- Start Footer -->
  {% include "footer.html"%}
  <!-- End Footer -->

  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/layoutAll.js"></script>
  <script src="/static/js/details.js"></script>
</body>

</html>