<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/css/output.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<div>
 <div>
<img src="../static/images/360_F_123522471_XZe5ebqil1DFJRgOUJ6taDP4DnmHjtL7.jpg" alt="" width="100%">

 </div>

 <div class="menuContainer">
<ul class="menuItemList">
    <li><a href="/home">Home</a></li>
    <li><a href="/">Reservations</a></li>
  
</ul>

 </div>
<div class="welcomeDiv">
    <p id="welcomeUser"></p>
</div>

</div>

<div id="allCardsContainer">

<div id = "cardsContainer">




</div>




</div>








<!-- recieve data from flask and store it in local storage-->
<script>

    localStorage.setItem("userId","{{id}}");
    localStorage.setItem("userName","{{name}}");

</script>
<script src="/static/js/script.js"></script>
<script src="/static/js/home.js"></script>
</body>

</html>