<!DOCTYPE html>
<html lang="en">
{%include "head.html"%}

{% block title %}<title>Home Page</title>{% endblock title %}

<body>
  <!-- Start image and Nav -->
  <div class="position-relative mb-3">
    <div>
      <img src="../static/images/6.jpg" alt="homeImage" width="100%" id="homeImage">

    </div>


    <div class="navContainer">
      {% include "nav.html"%}
    </div>


  </div>
  <!-- End image and Nav -->


  <!-- Start Cards -->

  <div id="allCardsContainer" class="container mb-3">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" id="cardsContainer">



    </div>




  </div>
  <!-- Start Cards -->


  <!-- Start Steps Container -->

  <div class="position-relative d-flex justify-content-center ">

    <div class="stepsImage">


    </div>


    <div class="container stepsContainer">

      <div class="row row-cols-2 row-cols-lg-4 text-center text-white ">

        <div class="col">

          <div>
            <img src="../static/images/icons8-tesla-model-3-100 (1).png" alt="stepImageIcon" width="80px">
          </div>
          <div>
            <h3>Select Your Car</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>


        </div>



        <div class="col">

          <div>
            <img src="../static/images/icons8-clipboard-100 (2).png" alt="stepImageIcon" width="80px">

          </div>
          <div>
            <h3>Booking & Confirm</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>


        </div>

        <div class="col">

          <div>
            <img src="../static/images/icons8-card-payment-100 (1).png" alt="stepImageIcon" width="80px">
          </div>
          <div>
            <h3>Booking Payment</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>


        </div>

        <div class="col">

          <div>
            <img src="../static/images/icons8-lease-100 (2).png" alt="stepImageIcon" width="80px">
          </div>
          <div>
            <h3>Enjoy The Car</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- End Steps Container -->


  <!-- recieve data from flask and store it in local storage-->
  <script>
    //  check if the user login or not to set his data and got to home page
    if ("{{name}}" != "" && "{{id}}" != "") {
      localStorage.setItem("userId", "{{id}}");
      localStorage.setItem("userName", "{{name}}");
    }

  </script>


  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/layoutAll.js"></script>
  <script src="/static/js/home.js"></script>


  <!-- Start Footer -->
  {% include "footer.html"%}
  <!-- End Footer -->
</body>

</html>