<!DOCTYPE html>
<html lang="en">
  
{%include "head.html"%}
{% block title %}<title>Login Form</title>{% endblock title %}

<body>

    <!--Start register form-->

<div id="registerContainer">
    
    <form action="/register" method="post" id="regiserForm">
        <p id="registerTitle">Register</p>
        <div >
            <input type="text" placeholder="Your full name" class="registerInput"   name = "name" id="name">
            <span id="nameError" class="Error"></span>
        </div>
        <div>
            <input type="text" placeholder="email" class="registerInput"  name = "email" id = "email">
            <span id="emailError" class="Error"></span>

        </div>
        <div>
            <input type="password" placeholder="password" class="registerInput"  name = "password"  id = "password">
            <span id="passwordError" class="Error"></span>

        </div>


<button id="registertBtn">Sign up</button>
<p>Already have an acccount? <a href="/login" id="loginLink">Login</a></p>

    </form>
</div>
   <!--End register form-->
<script src="/static/js/bootstrap.bundle.min.js"></script>

<script src="/static/js/register.js"></script>
</body>
</html>