<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

      <!--Start login form-->
    <div class="loginPage"  >
        
    <div class="formImageContainer">
        <img src="/static/images/loginImage.png" alt="loginImage" width="50%" id="loginImg">
        
    <div id="loginContainer" >

      <form action="/login" method="post" id="loginForm">

        {% if error %}
        <p class="text-center bg-warning text-bg-dark p-3">{{error}}</p>
       
        {% endif %}

          <p id="loginTitle">Login</p>
  
        <div>
  
          <input type="text" name = "email" placeholder="Enter E-mail" class="loginInput" id ="email">
          <span id="emailError" class="Error"></span>

        </div>
        <div>
  
          <input type="password" name = "password" placeholder="Password" class="loginInput" id ="password">
          <span id="passwordError" class="Error"></span>

        </div>
  
          <button type="submit" id="loginBtn">Login</button>
          <p id="SignUpNote">Don't have an account? <a href="/" id="registerLink">Sign Up</a></p>
      </form>
  
      </div>
    </div>


</div>

      <!--End login form-->
<script src="/static/js/bootstrap.bundle.min.js"></script>


<script src="/static/js/login.js"></script>


</body>
</html>