<!DOCTYPE html>
<html lang="en">

{%include "head.html"%}
{% block title %}<title>Reservation</title>{% endblock title %}
<body>
  
     <!-- Start image and Nav -->
  <div class="position-relative">
    <div class="imageTitleContainer">
    <div class="reserveImage">
      
     
    </div>
    <div class="ReserveTitle">
      Reservations
    </div>

  </div>

    <div class="navContainer">

      {% include "nav.html"%}


     
    </div>


  </div>
      <!-- End image and Nav -->

           <!-- Start User Data for Reservation -->
  {% if user_reservation %}
    <table class="table table-striped reserveTable">
        <thead>
          <tr>
            <th >Brand</th>
            <th >Color</th>
            <th >Price</th>
          </tr>
        </thead>
        <tbody>
            {% for reservation in user_reservation%}
          <tr>
            <td>{{reservation.brand}}</td>
            <td>{{reservation.color}}</td>
            <td>{{reservation.price}} LE/Day</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
{%else%}
{{no_data|safe}}
{% endif %}
           <!-- End User Data for Reservation -->

  <!-- Start Footer -->
  {% include "footer.html"%}  
<!-- End Footer -->


<script src="/static/js/bootstrap.bundle.min.js"></script>


    <script src="/static/js/layoutAll.js"></script>


</body>



</html>