<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search</title>
      
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
      
      
      </head>
<body>

             <!-- Start navbar  -->

  <div class="navContainer position-relative">



    <nav class="navbar navbar-expand-lg bg-body-tertiary navBarDark">
      <div class="container-fluid">
        <span class="navbar-brand">Rent-Car</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/reservation">Reservation</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/addCar">Add Car</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/logout" id="logOutBtn">LogOut</a>
            </li>
          </ul>
          <form class="d-flex" role="search" action="/search" method="get">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
          <li class="welcomeLink">
            <div id="welcomeUser"></div>
            
          </li>
        </div>
      </div>
    </nav>
  </div>
 <!-- End navbar  -->

  <!-- Start Search Result  -->
    <div id="allCardsContainer" class="container mb-3">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" id="cardsContainer">
    
            $$search_Container$$

    
        </div>
    
    
    
    
      </div>
 <!-- End Search Result  -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    
        <script src="/static/js/layoutAll.js"></script>
    
    
    <!-- Start Footer -->
      <footer>
        <div>
    
          All Copyright For Car-Rent Website © 2023-2024
        </div>
    
      </footer>
    
</body>
</html>