<!DOCTYPE html>
<html lang="en">

{%include "head.html"%}
{% block title %}<title>Search</title>{% endblock title %}

<body>

             <!-- Start navbar  -->

  <div class="navContainer position-relative">



    {% include "nav.html"%}

  </div>
 <!-- End navbar  -->

  <!-- Start Search Result  -->
    <div id="allCardsContainer" class="container mb-3">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" id="cardsContainer">
    
          {{Search_result|safe}}
    
        </div>
    
    
    
    
      </div>
 <!-- End Search Result  -->

        <script src="/static/js/bootstrap.bundle.min.js"></script>

    
        <script src="/static/js/layoutAll.js"></script>
    
    
    <!-- Start Footer -->
    {% include "footer.html"%}

    
</body>
</html>